/* General Styles */
body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f8f9fa; /* Fondo claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container-form {
    background-color: #ffffff; /* Fondo blanco para contraste */
    border-radius: 12px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 400px; /* Ancho fijo */
    padding: 30px;
    text-align: center;
}

.container-form h1 {
    font-size: 28px;
    color: #2c3e50; /* Texto oscuro */
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.container-form hr {
    border: none;
    border-top: 2px solid #34495e; /* Línea decorativa */
    margin: 20px 0;
}

.login-container {
    margin-top: 20px;
}

.username-container,
.password-container {
    margin-bottom: 20px;
    text-align: left;
}

.username-container p,
.password-container p {
    font-size: 14px;
    color: #2c3e50; /* Texto oscuro */
    margin-bottom: 5px;
    font-weight: 500;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    font-size: 16px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #2c3e50;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #1abc9c; /* Color destacado */
    outline: none;
}

.submit-container {
    margin-top: 20px;
}

input[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #1abc9c; /* Verde destacado */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

input[type="submit"]:hover {
    background-color: #16a085; /* Color más oscuro en hover */
    transform: scale(1.05); /* Ligero zoom en hover */
}

input[type="submit"]:active {
    background-color: #149174; /* Color más oscuro al hacer clic */
    transform: scale(0.98); /* Pequeña contracción */
}

/* Error Message */
.container-form p {
    color: #2c3e50;
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
  }

/* Responsive Design */
@media (max-width: 768px) {
    .container-form {
        width: 90%; /* Ajustar ancho en pantallas pequeñas */
    }
}
