{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container-form">
        <h1>Iniciar Sesion</h1>
        <hr>
        <div class="login-container">
            <form action="" method="post">
                {% csrf_token %}
                <div id="username" class="username-container">
                    <p>Usuario</p>
                    {{ form.username }}
                </div>

                <div id="password" class="password-container">
                    <p>Contraseña</p>
                    {{ form.password }}
                </div>

                <div class="submit-container">
                    <input type="submit" value="Iniciar Sesion">
                </div>
            </form>

            {% if form.errors %}
                <p>Usuario o contraseña incorrectos. intentalo de nuevo.</p>
            {% endif %}

        </div>
    </div>
</body>
</html>